-const gmUrl = 'https://www.google.it/maps/place/';
-function codeFormat(code) {
  -return code.replace(/ /g,'').replace(/(\d{4})(\d{4})(\d{2})/, "$1 $2 $3") || ''
-}
doctype html
html(lang="en")
  include includes/header.pug
  body
    nav
      a(href="#gymSection") Gyms
    header
      h1#mainHeading= title
    main
      section#register
        #response
        form#form
          label(for="nick")
            | Nickname:
            input#nick(name="nick" type="text" maxlength="100" placeholder="Nickname" required="")
          fieldset#team
            legend Choose your team
            #radioCont
              label(for="blueRadio")
                input#blueRadio(type="radio" name="team" value="blue")
                span.check ✔
                | Mystic
              label(for="yellowRadio")
                input#yellowRadio(type="radio" name="team" value="yellow")
                span.check ✔
                | Instinct
              label(for="redRadio")
                input#redRadio(type="radio" name="team" value="red")
                span.check ✔
                | Valor
          label(for="code")
            | Your trainer code:
            input#code(name="code" type="text" pattern="([0-9]{4}[ ]{0,1}){3}" placeholder="XXXX XXXX XXXX" minlength="12" maxlength="14" title="Insert only numbers, with or without spaces (ie 0000 0000 0000 or 123456789012)")
          button#submit(type="submit") Submit
      section#listsec
        h2 Trainers' list
        #list
          #blueCont
            #blueImg
              ul#blue
                each t in blue
                  li #{t.displayName}
                    if t.code
                      | →
                      span.copy-all #{codeFormat(t.code)}
          #yellowCont
            #yellowImg
              ul#yellow
                each t in yellow
                  li #{t.displayName}
                    if t.code
                      | →
                      span.copy-all #{codeFormat(t.code)}
          #redCont
            #redImg
              ul#red
                each t in red
                  li #{t.displayName}
                    if t.code
                      | →
                      span.copy-all #{codeFormat(t.code)}
      section
        h2 Latest updates
        table
          theader
            tr
              th.time Time
              th Nickname
              th Code
          tbody#last
          each t in last
            tr
              td.time #{moment(t.lastModified).locale("it").format("DD MMM HH:mm")}
              td #{t.displayName}
              td
                span.copy-all #{codeFormat(t.code)}
      section#gymSection
        h2 Gyms nearby
        ul#gyms
          each g in gyms
            -const coords = g.coords.join(',');
            li
              strong #{g.city}:
              a(href=gmUrl+coords target="_blank") #{g.name}
    include includes/footer
    script(src="/client.js")
